.dots {
	position: absolute;
	background: url('/assets/img/dot.svg');
	@include size(98px, 86px);
	background-size: 12px;
	z-index: 1;

	&--main-top {
		width: 100px;
		height: 60px;
		top: 0;
		right: 0;

		@include atM {
			@include size(300px, 120px);
		}
	}

	&--main-bottom {
		@include size(120px, 84px);
		bottom: 0;
		left: 0;

		@include atM {
			@include size(268px, 268px);
			background-size: 18px;
			bottom: -88px;
		}
	}

	&--color {
		background: url('/assets/img/dot-color.svg');
	}

	&--single {
		@include size(12px);

		&--1 {
			top: 36px;
			left: 36px;

			@include atM {
				top: 36px;
				left: 144px;
			}
		}

		&--2 {
			display: none;

			@include atM {
				display: block;
				top: 84px;
				left: 240px;
			}
		}

		&--3 {
			top: 36px;
			left: 24px;

			@include atL {
				top: 90px;
				left: 162px;
				@include size(18px);
				background-size: 18px;
			}
		}

		&--4 {
			top: 60px;
			left: 48px;

			@include atL {
				display: none;
			}
		}
	}

	&--ft-1 {
		height: 120px;
		bottom: 24px;
		left: -36px;

		@include atS {
			bottom: -10px;
			left: 96px;
		}

		@include atL {
			height: 96px;
			width: 144px;
			left: 96px;
			bottom: -24px;
		}
	}

	&--ft-2 {
		height: 120px;
		bottom: 24px;
		right: -31px;

		@include atS {
			bottom: -14px;
			right: -12px;
		}

		@include atM {
			bottom: -14px;
			right: 162px;
		}

		@include atL {
			height: 96px;
			width: 144px;
			right: 24px;
			bottom: -30px;
		}
	}

	&--ft-3 {
		height: 120px;
		bottom: 42px;
		left: -24px;

		@include atS {
			height: 76px;
			bottom: -10px;
			left: 79px;
			width: 108px;
		}

		@include atL {
			height: 76px;
			width: 178px;
			left: 61px;
			bottom: -24px;
		}

	}
}