.form {
	position: relative;

	&__line {
		margin-bottom: 15px; 
		width: 100%;

		&--submit {
			padding-top: 30px;
			display: flex;
			justify-content: flex-end;

			@include atL {
				padding-top: 35px;
			}
		}
	}

	&__input-wrapper {
		height: 60px;
		border-bottom: 1px solid #000;
		position: relative;
		display: block;
	}

	&__input-placeholder {
		font-size: rem(16);
		position: absolute;
		left: 0;
		bottom: 10px;
		color: $grey-dd;
		transition: all .5s;
		transform: translateY(0);

		&--focus {
			transform: translateY(-30px);
			font-size: rem(14);
		}
	}
	
	input {
		font-size: rem(16);
		width: 100%;
		line-height: 40px;
		position: relative;
		top: 20px;
		background: transparent;
		border: none;
		font-size: rem(16);
		color: #000;
		outline: none; 
	}

	input[type="submit"] {
		background: $primary;
		font-family: $titleFont;
		font-weight: 400;
		font-size: rem(12);
		letter-spacing: 1.2px;
		text-transform: uppercase;
		color: #fff;
		line-height: 64px;
		width: 100%;
		max-width: 100%;
		padding: 0 20px;
		height: 60px;
		top: 0;
		margin-bottom: 0;
		cursor: pointer;
		margin-bottom: 30px;
		z-index: 2;
		transition: all .5s;

		@include atL {
			width: 230px;
			margin-bottom: 0;

			&:hover {
				box-shadow: 0 1.5em 1.5em -0.9em rgba(186,184,186,.7);
				top: -5px;
			}
		}

	}

}