.item {
	&:last-child {
		margin-bottom: 0 !important;
		padding-bottom: 0 !important;
	}

	&--mb-m {
		margin-bottom: 50px;
	}

	&--mb-l {
		margin-bottom: 80px;

		@include atS {
			margin-bottom: 100px;
		}

		@include atL {
			margin-bottom: 170px;
		}
	}

	&--brd {
		border-bottom: 1px solid $grey;

		&:last-child {
			border: none !important;
		}
	}

	&--pb-m {
		padding-bottom: 25px;
	}

}