.item {

	&--mb-m {
		margin-bottom: 50px;
	}

	&--mb-l {
		margin-bottom: 80px;

		@include atS {
			margin-bottom: 100px;
		}

		@include atL {
			margin-bottom: 170px;
		}
	}

	&--brd {
		border-bottom: 1px solid $grey;

		@include atM {
			border-bottom: none;
		}

		@include atXL {
			border-right: 1px solid $grey;
		}
	}

	&--pb-m {
		padding-bottom: 25px;
	}

	&--price {
		padding-bottom: 35px;
		margin: 0 20px 35px;

		@include atL {
			margin: 0 0 80px;
			text-align: center;
			padding: 15px;
		}
		@include atXL {
			text-align: left;
			padding: 25px;
		}

		.text {
			@include atL {
				min-height: 100px;
			}

			@include atXL {
				min-height: 90px;
			}
		}
	}
}


.col:last-child {
	.item--price {
		margin-bottom: 50px;
		padding-bottom: 0;
	}

	.item--brd {
		border: none !important;
	}
}
