.link {
	cursor: pointer;
	transition: all .5s;

	&:after {
		@include size(100%, 1px);
		content: '';
		transition: all .5s;
		position: absolute;
		left: 0;
		bottom: -2px;
		display: block;
	}

	&--primary-l {
		color: $primary-l;
		&:after { 
			background: $primary-l;
		}

		&:hover {
			color: #fff;
			&:after { 
				background: #fff;
			}
		}
	}


}