.link {
	position: relative;
	cursor: pointer;
	transition: all .5s;
	display: inline-block;

	&:after {
		@include size(100%, 1px);
		content: '';
		transition: all .5s;
		position: absolute;
		left: 0;
		bottom: -2px;
		display: block;
	}

	&--primary {
		color: $primary;

		&:after { 
			background: $primary;
		}
	}

	&--primary-l {
		color: $primary-l;

		&:after { 
			background: $primary-l;
		}

		&:hover {
			color: #fff;
			&:after { 
				background: #fff;
			}
		}
	}

	&--accent {
		color: $accent;

		&:after { 
			background: $accent;
		}
	}

	&--lg {
		font-size: rem(24)
	}


}