.menu {
	
	&__burger {
		position: relative;
		cursor: pointer;
		width: 33px;
		height: 17px;

		@include atL {
			margin: 0 auto;
			width: 43px;
		}
	}

	&__bar {
		height: 3px;
		width: 33px;
		background: #fff;
		position: absolute;
		top: 7px;
		left: 0;

		@include atL {
			width: 43px;
			top: 9px;
		}

		&:first-child {
			width: 18px;
			top: 0;

			@include atL {
				width: 27px;
			}
		}

		&:last-child {
			width: 25px;
			top: 14px;

			@include atL {
				top: 18px;
				width: 35px;
			}
		}
	}

	&__contact--rt {
		font-size: rem(14);
		transform: rotate(-90deg);
		white-space: nowrap;
		position: absolute;
		bottom: 24px;
		left: 38px;
		transform-origin: left top;
	}

	&__wrapper {
		position: fixed;
		top: 0;
		left: 0;
		height: 88vh;
		width: 100%;
		background: $primary;
		padding: 50px;
		z-index: 30000;
		overflow: auto;

		@include atS {
			height: 75%;
			padding: 70px;
		}

		@include atL {
			height: 100%;
			width: 50%;
			text-align: right;
			padding: 90px;
		}
	}

	&__content {
		position: relative;
		min-height: 100%;
		color: #fff;
		font-size: rem(18);
		padding-bottom: 200px;

		@include atS {
			font-size: rem(22);
			
		}

		@include atL {
			font-size: rem(26);
		}

		@include atXL {
			text-align: right;
		}

		li {
			margin-bottom: 17px;

			@include atL {
				margin-bottom: 30px;
			}
		}

		a {
			color: #fff;
		}

	}

	&__bg {
		background: $accent;
		position: fixed;
		height: 100%;
		width: 100%;
		opacity: .85;
		z-index: 20000;
		left: 0;
		top: 0;
	}

	&__contacts {
		position: absolute;
		bottom: 0;
		left: 0;
		font-size: rem(14);
		color: $primary-l;
		line-height: 2.6;

		@include atL {
			left: inherit;
			right: 0;
			font-size: rem(17);
		}

		> div:first-child {
			letter-spacing: .025em;
		}
	}

	&__social {
		line-height: 1;
		font-size: rem(20);
		padding-top: 30px;
		li {
			display: inline-block;
			margin-right: 15px;
			margin-bottom: 0;

			@include atL {
				margin-right: 0;
				margin-left: 15px;
				margin-bottom: 0;
				font-size: rem(27);
			}
		}
	}

}