
.popup {
	transform: translateX(100%) translateY(100%) scale(0);
	transition: opacity 3s, transform 1s;
	position: fixed;
	width: 100%;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;

	@include atL {
		left: 100px;
		width: calc(100% -100px);
	}

	&:after {
		content: "";
		position: absolute;
		height: 500vh !important;
		width: 500vh !important;
		top: 50%;
		height: 50%;
		border-radius: 100%;
		transform: translateX(-50%) translateY(-50%) scale(1);
		background: $accent;
		opacity: 1;
		transition: transform 2s, opacity 1s, background 3s;
		transition-delay: 0s, 1s, 0s;
	}

	&--visible {
		opacity: 1;
		transform: translateX(0) translateY(0) scale(1);

		&:after {
			transform: translateX(-50%) translateY(-50%) scale(5);
			opacity: 0;
			background: #fff;
		}
	}

	&__inner {
		overflow: hidden;
		overflow-y: auto;
		height: 100%;
		padding: 1.5rem 0;
		position: relative;
		background: #fff;

		@include atL {
			padding: 7rem 10rem;
		}
	}
	
	&__nav {
		position: relative;
		height: 30px;
		padding-bottom: 7rem;
	}

	&__arrows {
		position: absolute;
		top: 0;
		right: 20px;
	}
	&__arrow {
		cursor: pointer;
		padding: 10px;
		display: inline-block;
		width: 30px;

		&:after {
			content: "";
			width: 30px;
			height: 30px;
			border: solid #000;
			border-width: 0 1px 1px 0;
			transform: rotate(135deg);
			-webkit-transform: rotate(135deg);
			display: inline-block;
			opacity: .3;
			transition: all .5s;
		}
		
		&--next {
			&:after {
				transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);	
			}
		}

		&:hover {
			&:after {
				opacity: 1;
			}
		}
	}

	&__content div {
		animation: slide 1s;
	}
}

body.fixed {
	overflow: hidden;
}

@keyframes slide {
	from {
		opacity: 0;
		transform: translateX(100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}