.portfolio {
	padding-bottom: 0 !important;

	&__item {
		overflow: hidden;
		position: relative;
		display: flex;
		flex-direction: column;
		cursor: pointer;

		@include atL {
			height: 200px;
		}

		@include atXL {
			height: 225px;
		}

		@include atXXL {
			height: 300px;
		}


		&__img {
			height: 100%;

			img {
				max-width: 100%;
				width: 100%;
				height: auto;
				display: block;

				@include atXXL {
					max-width: 1000px !important;
					width: auto !important;
					min-height: 100% !important;
					min-width: 100%;
				}

			}
		}

		&__desc {
			background: rgba(28, 15, 213, .75);;
			position: absolute;
			width: 100%;
			transform: translateX(110%);
			height: 100%;
			color: #fff;
			transition: transform .5s;
			bottom: 0;
			left: 0;
			padding: 30px 80px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&__title {
			font-family: $titleFont;
			font-size: rem(20);
			font-weight: 600;
			margin-bottom: 15px;
		}

		&__text {
			font-weight: 300;
			opacity: .75;
		}

		&:hover {
			.portfolio__item__desc {

				@include atXL {
					transform: translateX(0);
				}
			}
		}
	}

}