.section {
	position: relative;
	padding: 50px 0 60px;
	overflow: hidden;
	transition: all .5s;

	@include atL {
		margin-left: 100px;
		padding: 80px 0 90px;
	}

	@include atXL {
		padding: 100px 0 110px;
	}

	&--pdd-s {

		@include atXL {
			padding: 80px 0 90px;
		}
	}

	&--pdd-0 {
		padding-bottom: 0;
	}

	&--full {
		min-height: 100vh;
		//min-height: 400px;

		@include atXS {
			//min-height: 510px;
		}

		@include atS {
			//min-height: 630px;
		}
	}
	
	&--grey {
		background: $grey-l;
	}

	&--img {
		position: relative;
		overflow: hidden;

		.bg-svg {
			position: absolute;
			top: -50px;
			left: -350px;
			height: 110%;
			width: 1500px;
			animation: showAndScale 1s;

			@include atS {
				width: 3000px;
				height: 120%;
			}

			@include atXL {
				width: 170%;
				height: 120%;
			}
		}

		use.bg {
			fill: #000;
			opacity: .028;
		}
	}


	&--main {
		min-height: calc(100vh - 50px);
		display: flex;
		align-items: center;

		@include atL {
			min-height: 100vh;
		}

		.container {
			animation: show 2s;
		}
	}

	&--p-l {
		padding: 60px 0 70px;

		@include atL {
			padding: 140px 0;
		}

		@include atXL {
			padding: 140px 0;
		}

	}

}

@keyframes show {
	from {
		opacity: 0;
		animation-timing-function: ease-out;
	}
	to {
		opacity: 1;
	}
}

@keyframes showAndScale {
	from {
		opacity: 0;
		transform: scale(2.2);
		animation-timing-function: ease-out;
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}