 .title {
 	transition: transform .5s;
 	font-size: rem(24);
 	line-height: 1;
 	padding-bottom: 25px;
 	position: relative;
 	//transform: translate3d(10px,0,0) scale(.85) rotate(.0001deg);

 	@include atXL {
 		font-size: rem(40);
 		padding-bottom: 36px;
 	}

 	.show {
 		//transform: translateZ(0) scale(1) rotate(.0001deg);
 	}

 	&--m {

 		@include atL {
 			font-size: rem(28);
 		}

 		@include atXL {
 			font-size: rem(30);
 		}
 	}

 	&--l {
 		font-size: rem(36);
 		padding-bottom: 60px;

 		@include atL {
 			font-size: rem(50) !important;
 			padding-bottom: 80px !important;
 		}
 	}

 	&--regular {
 		font-weight: 600;
 	}

 	&--l-cent {
 		@include atL {
 			text-align: center;
 		}
 	}

 	&--pdd-no {
 		padding: 0 !important;
 	}

 	&--pdd-b-l {
 		padding-bottom: 40px;

 		@include atXL {
 			padding-bottom: 75px;
 		}
 	}
 }