 .title {
 	transition: transform .5s;
 	font-size: rem(24);
 	line-height: 1;
 	padding-bottom: 20px;
 	//transform: translate3d(10px,0,0) scale(.85) rotate(.0001deg);

 	@include atL {
 		font-size: rem(40);
 		padding-bottom: 36px;
 	}

 	.show {
 		//transform: translateZ(0) scale(1) rotate(.0001deg);
 	}
 }