.container {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	
	@include atXS {
		max-width: 540px;
	}

	@include atS {
		max-width: 720px;
	}

	@include atM {
		padding: 0 15px;
		max-width: 960px;
	}

	@include atL {
		max-width: 1140px;
	}
}

.container-fluid {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 100%;
	padding: 0 20px;
}

.row {
	display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col {
	flex-grow: 1;
	flex-basis: 0;
	padding: 0 15px;

}