.container {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	
	@include atXS {
		max-width: 540px;
	}

	@include atS {
		max-width: 720px;
	}

	@include atM {
		padding: 0 15px;
		max-width: 960px;
	}

	@include atXL {
		max-width: 1140px;
	}
}

.container--narrow {
	@include atM {
		max-width: 640px;
	}

	@include atL {
		max-width: 840px;
	}

	@include atXL {
		max-width: 960px;
	}
}

.col-xxl-3 {
	@include atXXL {
		flex: 0 0 25% !important;
		max-width: 25% !important;
	}
}

.d-xxl-none {
	@include atXXL {
		display: none !important;
	}
}