.container {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	
	@include atXS {
		max-width: 540px;
	}

	@include atS {
		max-width: 720px;
	}

	@include atM {
		padding: 0 15px;
		max-width: 960px;
	}

	@include atXL {
		max-width: 1140px;
	}
}

.container--fluid {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 100%;
	padding: 0 20px;
}

.container--narrow {
	@include atM {
		max-width: 640px;
	}

	@include atL {
		max-width: 840px;
	}

	@include atXL {
		max-width: 960px;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.no-gutters {
	.col {
		padding: 0;
	}
}

.col {
	flex-grow: 1;
	flex-basis: 0;
	padding: 0 15px;
}

.col-4 {
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
}

.col-8 {
	flex: 0 0 66.66666%;
	max-width: 66.66666%;
}

.col-12 {
	flex: 0 0 100%;
	max-width: 100%;
}


.col-l-3 {
	@include atL {
		flex: 0 0 25%;
		max-width: 25%;
	}
}
