// Font
$titleFont               : 'Montserrat', Helvetica, Arial, sans-serif;
$mainFont			 	 : 'Merriweather', serif;

$mainFontSize            : 16px;

// Window Width
$extraLargeDesktop       : 1440px;
$largeDesktop            : 1366px;
$desktop                 : 1200px;
$smallDesktop            : 992px;
$tablet                  : 768px;
$phone                   : 576px;

// Colors
$primary                 : #1C0FD5;
$primary-l				 : #C6C3F3;
$accent 				 : #abd2ca;
$grey					 : #e2e0e1;
$grey-d					 : #b2b2b2;
$grey-l 				 : #f8f8f8;